*{
	margin: 0;
	padding: 0;
}
body{
	background: #eee;
	font-family: verdanna, sans-serif;
}
h1{
	font-weight: bold;
	font-size: 4em;
	color: #fff;
}
a{
	text-decoration: none;
	color: #A1D0ED;

}
a:hover{
	color: #CBE8F5;
}
.fa{
	font-size: 2em;
}
.fa-inverse{
	color: #222;
}
.social_media{
	float: left;
	width: 40%;
}
.social_media li{
	float: left;
	padding: 5px;	
}
.email{
	float: left;
	width: 40%;
}
.email li{
	padding: 5px;
}
.header_wrapper{
	position: fixed;
	overflow: hidden;
	width: 100%;
	background: #222;
	height: 256px;
	border-bottom: solid 8px #365899;
	-webkit-transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    -ms-transition: height .5s ease-in-out;
    -o-transition: height .5s ease-in-out;
	transition: height .5s ease-in-out;
}
.header_wrapper.shrink{
	height: 100px;
}
.header{
	z-index: 999;
	background:url('../images/DSC_8053.jpg') no-repeat #000;
	background-size: cover;
	background-position: bottom;
	height: 100%;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	-webkit-transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    -ms-transition: height .5s ease-in-out;
    -o-transition: height .5s ease-in-out;
	transition: height .5s ease-in-out;
}
.black_overlay{
	background: #000;
	opacity: 0.5;
	height: 100%;
	-webkit-transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    -ms-transition: height .5s ease-in-out;
    -o-transition: height .5s ease-in-out;
	transition: height .5s ease-in-out;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}

.black_overlay h1.title{
	opacity: 0.7;
	line-height: 256px;
	margin-left: 100px;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.black_overlay h1.title.shrink{
	line-height: 96px;
	font-size: 48px;
}
.content_wrapper{
	width: 980px;
	background: #ddd;
	margin-left: auto;
	margin-right: auto;
}
.content{
	padding: 30px;
}

.footer_wrapper{
	background: #111;
	bottom: 0px;
}
.footer{
	height: 256px;
	background: #222;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
.footer ul{
	padding: 40px;
	list-style: none;
	color: white;
}
.contact_me{
	color: white;
	padding-top: 20px;
	padding-bottom: 10px;
	width: 100%;
	border-bottom: solid 1px white;
	text-align: center;
}
.underblock{
	height: 256px;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	background: #ddd;
}